ul {
  list-style-type: none;
}

.topnav {
  background-color: black;
  overflow: hidden;
  box-shadow: 0 3px grey;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(198, 11, 117);
  color: black;
}

.topnav a:active {
  background-color: rgb(226, 10, 143);
  color: white
}
