body {
  /* margin: 0;
  padding: 0; */

  background: rgba(40, 10, 231, 0.518);
}

header {
  background: linear-gradient(rgba(31, 198, 56, 0), rgba(31, 198, 56, .8));
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  border-radius: 25px;
  margin: 0;
  padding: 0
}




/* nav {
  box-shadow: 20px 20px 50px #00d2c6,
    -30px -30px 60px #00ffff;
  border-radius: 25px;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* button {
  background: blue;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  border-radius: 25px;

} */

.button {
  background-color: rgba(0, 0, 255);
  border: 5px solid radius-gradient(rgba(4, 4, 39, 0.1), rgba(4, 4, 39, 0.5));
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* box-shadow: 10px -10px 5px rgba(0, 0, 0, .2); */
  border-radius: 25px;
}



/* Navbar container */
.navbar {
  overflow: hidden;
  font-family: Arial;
  padding: 10px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}








/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 25px;
}



/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 12px 10px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
}



/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 25px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
