{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <header>
            <nav class="topnav">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">logout</a>
                    <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                    <a href="{% url 'list_projects' %}">My Projects</a>
                {% else %}
                    <a href="{% url 'login' %}">login</a>
                    <a href="{% url 'signup' %}">signup</a>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>
